application/config/config.php
application/config/database.php
application/config/constants.php
application/config/app-config
application/logs/
application/cache/
application/hooks/
application/vendor/*
uploads/*
modules/helpers/*
modules/twilio-web/*
node_modules/
mix-manifest.json
package-lock.json